# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.cache

# Next.js build output
next

.next/

out
.next/cache
.next/static
.next/standalone
.next/server

# Distribution files
dist
dist-ssr

# Local environment files
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# Solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337



# Next.js build folders
.next/
out/
dist/

# Node modules
node_modules/

# Environment files
.env
